body{
    padding: 20px 0px;
   
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}

label{
    margin-bottom: 3px;
    
}
#signUp{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    width: 40%;
    padding: 20px;
}

input{
    width: 90%;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 10px;
    border: 2px solid #e8eaed;

}

#submit{
    background-color: #1448f3;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
}
#acc{
    text-align: center;
}
#signup{
    color: blue;
    text-decoration: none;
    font-weight: 700;
}